<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoodListServlet</display-name>
    <servlet-name>GoodListServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodListServlet</servlet-name>
    <url-pattern>/GoodListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsListServlet</display-name>
    <servlet-name>GoodsListServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsListServlet</servlet-name>
    <url-pattern>/GoodsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerListServlet</display-name>
    <servlet-name>DealerListServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerListServlet</servlet-name>
    <url-pattern>/DealerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersListServlet</display-name>
    <servlet-name>OrdersListServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersListServlet</servlet-name>
    <url-pattern>/OrdersListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleListServlet</display-name>
    <servlet-name>ConsoleListServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleListServlet</servlet-name>
    <url-pattern>/ConsoleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsAddServlet</display-name>
    <servlet-name>GoodsAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsAddServlet</servlet-name>
    <url-pattern>/GoodsAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerAddServlet</display-name>
    <servlet-name>DealerAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerAddServlet</servlet-name>
    <url-pattern>/DealerAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleAddServlet</display-name>
    <servlet-name>ConsoleAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleAddServlet</servlet-name>
    <url-pattern>/ConsoleAddServlet</url-pattern>
  </servlet-mapping>
</web-app>