<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoodListServlet</display-name>
    <servlet-name>GoodListServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodListServlet</servlet-name>
    <url-pattern>/GoodListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsListServlet</display-name>
    <servlet-name>GoodsListServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsListServlet</servlet-name>
    <url-pattern>/GoodsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerListServlet</display-name>
    <servlet-name>DealerListServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerListServlet</servlet-name>
    <url-pattern>/DealerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersListServlet</display-name>
    <servlet-name>OrdersListServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersListServlet</servlet-name>
    <url-pattern>/OrdersListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleListServlet</display-name>
    <servlet-name>ConsoleListServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleListServlet</servlet-name>
    <url-pattern>/ConsoleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsAddServlet</display-name>
    <servlet-name>GoodsAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsAddServlet</servlet-name>
    <url-pattern>/GoodsAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerAddServlet</display-name>
    <servlet-name>DealerAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerAddServlet</servlet-name>
    <url-pattern>/DealerAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleAddServlet</display-name>
    <servlet-name>ConsoleAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleAddServlet</servlet-name>
    <url-pattern>/ConsoleAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsDeleteServlet</display-name>
    <servlet-name>GoodsDeleteServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsDeleteServlet</servlet-name>
    <url-pattern>/GoodsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerDeleteServlet</display-name>
    <servlet-name>DealerDeleteServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerDeleteServlet</servlet-name>
    <url-pattern>/DealerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleDeleteServlet</display-name>
    <servlet-name>ConsoleDeleteServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleDeleteServlet</servlet-name>
    <url-pattern>/ConsoleDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsEditServlet</display-name>
    <servlet-name>GoodsEditServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsEditServlet</servlet-name>
    <url-pattern>/GoodsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsUpdateServlet</display-name>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <url-pattern>/GoodsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerEditServlet</display-name>
    <servlet-name>DealerEditServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerEditServlet</servlet-name>
    <url-pattern>/DealerEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerUpdateServlet</display-name>
    <servlet-name>DealerUpdateServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerUpdateServlet</servlet-name>
    <url-pattern>/DealerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleEditServlet</display-name>
    <servlet-name>ConsoleEditServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleEditServlet</servlet-name>
    <url-pattern>/ConsoleEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleUpdateServlet</display-name>
    <servlet-name>ConsoleUpdateServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleUpdateServlet</servlet-name>
    <url-pattern>/ConsoleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerSearchServlet</display-name>
    <servlet-name>DealerSearchServlet</servlet-name>
    <servlet-class>com.dms.servlet.DealerSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerSearchServlet</servlet-name>
    <url-pattern>/DealerSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleSearchServlet</display-name>
    <servlet-name>ConsoleSearchServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleSearchServlet</servlet-name>
    <url-pattern>/ConsoleSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsSearchServlet</display-name>
    <servlet-name>GoodsSearchServlet</servlet-name>
    <servlet-class>com.dms.servlet.GoodsSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsSearchServlet</servlet-name>
    <url-pattern>/GoodsSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsoleLoginServlet</display-name>
    <servlet-name>ConsoleLoginServlet</servlet-name>
    <servlet-class>com.dms.servlet.ConsoleLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleLoginServlet</servlet-name>
    <url-pattern>/ConsoleLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersDeleteServlet</display-name>
    <servlet-name>OrdersDeleteServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersDeleteServlet</servlet-name>
    <url-pattern>/OrdersDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersAddServlet</display-name>
    <servlet-name>OrdersAddServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersAddServlet</servlet-name>
    <url-pattern>/OrdersAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersSearchServlet</display-name>
    <servlet-name>OrdersSearchServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersSearchServlet</servlet-name>
    <url-pattern>/OrdersSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersEditServlet</display-name>
    <servlet-name>OrdersEditServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersEditServlet</servlet-name>
    <url-pattern>/OrdersEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersUpdateServlet</display-name>
    <servlet-name>OrdersUpdateServlet</servlet-name>
    <servlet-class>com.dms.servlet.OrdersUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersUpdateServlet</servlet-name>
    <url-pattern>/OrdersUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>